classTag="";
mapName="";
mapTitle="";
mapPath="p:\equal_islands";
UTMNorth="10240.000000";
UTMSouth="0.000000";
UTMWest="200000.000000";
UTMZone="31";
UTMHemi="N";
WGSLong="0.304973";
WGSLongSign="";
WGSLat="0.0925413";
WGSLatSign="-";
surfacesArray=[];
clutterArray=[];
